h1 {
display: block;
background-color: white;
border-radius: 15px;
text-align: center;
color: black;
margin: 50px 0 50px 0;
padding: 10px;
font-family: Comic sans MS;
}
body {
  background-color: #c29c6b;
  color: white;
  font-family:Lucida Console, monaco, monospace;
  }
img {
  width: 250px;
  display: block;
  margin: auto;
  border-radius: 100px;
  }
    table {
          background-color: #373737;
          color: white;
          padding: 8px;
          font-family: Cursive;
          margin: 0 auto;
          border-collapse: collapse;
          width: 50%;
        }
        table a {
          color: white;
          text-decoration: none;
        }
        table a:hover {
          color: #6e8170;
        }
        td {
          border: 3px;
          padding: 5px 20px 5px 20px;
        }
