h1 {
display: block;
background-color: white;
border-radius: 15px;
text-align: center;
color: black;
margin: 50px 0 50px 0;
padding: 10px;
font-family: Comic sans MS;
}
body {
  background-color: #ffffff;
  color: white;
  font-family:Lucida Console, monaco, monospace;
  }
.content {
            max-width: 900px;
            margin: 40px auto;
            background: #c29c6b;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
img {
  width: 250px;
  display: block;
  margin: auto;
  border-radius: 100px;
  }
    table {
          background-color: #373737;
          color: white;
          padding: 8px;
          font-family: Cursive;
          margin: 0 auto;
          border-collapse: collapse;
          width: 50%;
        }
        table a {
          color: white;
          text-decoration: none;
        }
        table a:hover {
          color: #6e8170;
        }
        td {
          border: 3px;
          padding: 5px 60px 5px 60px;
        }
