.sour-gummy-<uniquifier> {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h1 {
display: block;
background-color: white;
border-radius: 15px;
text-align: center;
color: black;
margin: 50px 0 50px 0;
padding: 10px;
font-family: Comic sans MS;
  font-size: 26px;
width: 100%;
}
body {
  background-color: #f2dfc7;
  color: #6e8170;
  font-family: sour gummy;
  font-size: 24px;
  }
img {
  width: 250px;
  display: block;
  margin: auto;
  border-radius: 100px;
  }
    table {
          background-color: #373737;
          color: white;
          padding: 8px;
          font-family: Cursive;
          font-size: 20px;
          margin: 0 auto;
          border-collapse: collapse;
          width:75%;
        }
        table a {
          color: white;
          text-decoration: none;
        }
        table a:hover {
          color: #6e8170;
        }
        td {
          border: 3px;
          padding: 5px 60px 5px 60px;
        }
